.claculator-contaner{
  border-radius: 10px;
  margin: 100px  auto;
  width: 250px;
  height: auto;
  padding: 30px 20px;
  background-color: rgb(3, 70, 70);
}
.calculator-input {
  align-items: center;
  display: flex;
  justify-content: end;
  color: white;
  background-color: rgb(0, 42, 60);
  border-radius: 10px;
  height: 40px;
  text-align: end;
  padding-right: 10px;
}
.calculator-text{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
} 
.calculator-block-button{
  display: flex;  
  gap: 5px;
}
.calculator-block button , .calculator-block-button button {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  width: 60px;
  height: 60px;
  color: white;
  background-color: rgb(30, 43, 43);
}
.calculator-block{
  display: flex;
  justify-content: space-between;
}